@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header{
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1000 ;
}

header .logo{
    position: relative;
    color: #0A2472;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 800;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #1a1a1D;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
}

header ul li a.active,
header ul li a:hover{
    background-color: #c99c33;
    color: #F8F9FA;
    border-radius: 30px;

}

.contenido{
    position: relative;
}

.contenido .cajaTexto{
    max-width: 550px;
}

.contenido .cajaTexto h2{
    color: #0A2472;
    font-size: 3.5em;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: 700;

}
.contenido .cajaTexto p{
    font-size: 1.2em;
    color: #1a1a1D;

}
